:root {
  --color-orange: #ff6f16ac;
  --color-white: #fff;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

#img-tela-inicial {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

#iniciar-pedido {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: 20rem;
  padding: 2rem;
  border: none;
  color: var(--color-white);

  font-family: "Poiret One", sans-serif;

  font-size: 6rem;
  font-weight: bold;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  background-color: var(--color-orange);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#iniciar-pedido:hover {
  border-radius: 52px;
  border-bottom: 5px solid var(--color-white);
  border-top: 5px solid var(--color-white);
}
