:root {
  --font-family: "Nanum Gothic Coding", monospace;
  --color-orange: #ff914d;
  --color-terracota: #a20000;
  --color-white: #fff;
}

.carrinho {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
}

.principal {
  display: flex;
}

.opcoes-hamburguer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.card-hamburguer {
  border: none;
  box-shadow: 2px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.img-card-hamburguer {
  width: 287px;
  height: 207px;
  overflow: hidden;
}

.div-card {
  display: flex;
}

.carrinho img {
  margin-right: 1rem;
}

header {
  position: relative;
  height: 58vh;
  color: var(--color-white);
  text-align: center;
  padding: 2rem;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/img/banner-simples.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header a {
  display: block;
  height: 100%;
  /* faz o link ocupar toda a altura do cabeçalho */
}

ul.card-aside {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 13rem;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

li a {
  padding: 1.5rem;
}

h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1.7rem;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: var(--color-terracota);
}

ul,
h3 {
  border: 1px solid var(--color-terracota);
}

p.preco-hamburguer {
  font-weight: 500;
  font-size: 1.8rem;
}

button {
  width: 16rem;
}

/*botão aumentar e dimunuir card*/

button.aumentar,
button.diminuir {
  background-color: var(--color-orange);
  width: 3rem;
  height: 2rem;
  margin-bottom: 0.7rem;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: bold;
}

button.diminuir {
  margin-left: 3.7rem;
}

.div-card > input {
  border: none;
  border-bottom: 2px solid var(--color-orange);
  width: 4.5vw;
  height: 3vh;
  margin-left: .5rem;
  margin-right: .5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-orange);
  /*outline: 0;*/
}

.div-card > input:focus {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

footer > a {
  padding: 1rem;
}

/*estilo pagina carrinho*/

/* @media screen and (min-width: 500px) and (max-width: 600px) {
  h3 {
      color: aqua;
  }
} */
